/data
/saves
/CEM-main
CEM-main/
*.md
*.pdf
*.txt
*.docx
!report/**
!report/
!interim_text/
!interim_text/**
!interim/
!interim/**
!proposal.txt
!proposal.pdf
*.png
*.jpg
*.jpeg
*.gif
!latex/
!latex/**
!documents/
!documents/**
!log/
!log/**
!paper_intro.md